# Git
.git
.gitignore
.gitattributes

# Node.js
node_modules
npm-debug.log*

# Data (sera créé dans le container)
data

# Environment
.env

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
